[Unit]
Description=A daemon to manage temporary desktop entries
After=graphical-session.target
WantedBy=graphical-session.target

[Service]
Type=dbus
BusName=io.ryanabx.DesktopEntry
Environment="RUST_LOG=debug"
ExecStart=/usr/libexec/desktop-entry-daemon
RuntimeDirectory=desktop-entry-daemon

[Install]
WantedBy=graphical-session.target