[Unit]
Description=XDG Temp daemon

[Service]
BusName=net.ryanabx.DesktopEntry
Environment="RUST_LOG=debug"
ExecStart=desktop-entry-daemon
Type=dbus
Slice=session.slice

[Install]
WantedBy=graphical-session.target
Before=graphical-session.target
Alias=dbus-net.ryanabx.DesktopEntry.service