[Unit]
Description=XDG Temp daemon cleaning service
DefaultDependencies=no
Conflicts=shutdown.target
Before=basic.target shutdown.target

[Service]
Type=oneshot
Environment="RUST_LOG=debug"
ExecStart=desktop-entry-daemon --clean
SuccessExitStatus=DATAERR
IOSchedulingClass=idle
Slice=background.slice