[Unit]
Description=A daemon to manage temporary desktop entries
Wants=desktop-entry-daemon-clean.service

[Service]
BusName=net.ryanabx.DesktopEntry
Environment="RUST_LOG=debug"
ExecStart=desktop-entry-daemon
Type=dbus
Slice=session.slice

[Install]
WantedBy=graphical-session.target
Before=graphical-session.target
Before=cosmic-session.target
Alias=dbus-net.ryanabx.DesktopEntry.service