[Unit]
Description=A daemon to manage temporary desktop entries
After=graphical-session.target
WantedBy=graphical-session.target

[Service]
BusName=org.desktopintegration.DesktopEntry
Environment="RUST_LOG=debug"
ExecStart=/usr/libexec/desktop-entry-daemon
RuntimeDirectory=desktop-entry-daemon
Type=dbus
Slice=session.slice